body{
    margin:0;
    font-family:Arial;
    background:url(http://cdn.tumo.org/activity/web/phase-2/using-css-style-html-elements/exercise/bg/35.png);
    background-size:cover;
}

/* GLASS EFFECT */

.glass-container{
    width:900px;
    margin:60px auto;
    padding:40px;
    
    background:rgba(255,255,255,0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border-radius:20px;
    border:1px solid rgba(255,255,255,0.2);

    box-shadow:0 20px 40px rgba(0,0,0,0.3);

    animation:fadeIn 1s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

h1{
    text-align:center;
    color:#ffffff;
    text-transform:uppercase;
}

h2{
    color:#fb9a02;
}

.main-img{
    width:100%;
    border-radius:15px;
    transition:0.4s;
}

.main-img:hover{
    transform:scale(1.02);
}

ul li{
    color:white;
    padding:5px;
}

form{
    display:flex;
    flex-direction:column;
}

input{
    margin:10px 0;
    padding:12px;
    border-radius:12px;
    border:none;

    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(10px);

    color:white;
}

input::placeholder{
    color:#ddd;
}

input[type="submit"]{
    background:#149588;
    cursor:pointer;
    transition:0.3s;
}

input[type="submit"]:hover{
    background:#fb9a02;
    transform:scale(1.05);
}

.gender{
    color:white;
}